@model Tapas.PortableNode
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @Model.Name , @Model.Url
    </div>

    <p><a href="/">Home</a></p>
    
    <p>You are on the page @Model.Name</p>
    <p>Url: @Model.Url</p>
    <p>Updated: @Model.UpdateDate.ToShortDateString()</p>
    <p>Written by: @Model.WriterName</p>

    <p>Properties:</p>
    <ul>
        @foreach (var p in Model.PropertiesDictionary)
        {
            <li>@p.Key: @p.Value</li>
        }
    </ul>

    <p>Children:</p>
    <ul>
        @foreach (var c in Model.Children)
        {
            <li><a href="@c.Url">@c.Name</a></li>
        }

    </ul>

</body>
</html>
